:host {
    position: relative;
    display: block;
    block-size: 2.75rem;
}

.icon {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;

    &_opened {
        transform: rotate(180deg);
    }
}

.menu {
    position: absolute;
    inset-block-start: 3rem;
    inset-inline-start: 0;
    inset-inline-end: 0;
}
